In [1]:
!pip install pandas pymongo

Requirement already satisfied: pandas in c:\users\gpier\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: pymongo in c:\users\gpier\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\gpier\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gpier\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gpier\anaconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\gpier\anaconda3\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\gpier\anaconda3\lib\site-packages (from pymongo) (2.6.1)
Requirement already satisfied: six>=1.5 in c:\users\gpier\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import sqlite3
import pandas
import pymongo

# Connection 
URL = "mongodb+srv://mongo_user:wb6xlTxueSQ9KU00@cluster-but-sd.8m2t0.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd"
client = pymongo.MongoClient(URL)
db = client.SAE

# Création de la connexion 
conn = sqlite3.connect("ClassicModel.sqlite")

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\gpier\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\gpier\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\gpier\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 712, in start
    self.io_loop.start()
  File "C:\Users\gpier\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\gpier\anaconda3\lib\asyncio\base_events.py", line 601, in run_forever
    self._run_once()
  File "C:\Users\gpier\anaconda3\lib\asyncio\base_events.py", line 1905, in _run_once
    handle._run()
  File "C:\Users\gpier\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 730, in execute_request
    reply_content = await reply_content
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 390, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 528, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2914, in run_cell
    result = self._run_cell(
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3185, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\gpier\AppData\Local\Temp\ipykernel_14044\3589859817.py", line 2, in <module>
    import pandas
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\__init__.py", line 80, in <module>
    from pandas.core.api import (
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\gpier\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\gpier\anaconda3\lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\Users\gpier\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\gpier\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\gpier\anaconda3\lib\site-packages\traitlets\config\application.py", line 846, in launch_instance
    app.start()
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 712, in start
    self.io_loop.start()
  File "C:\Users\gpier\anaconda3\lib\site-packages\tornado\platform\asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\gpier\anaconda3\lib\asyncio\base_events.py", line 601, in run_forever
    self._run_once()
  File "C:\Users\gpier\anaconda3\lib\asyncio\base_events.py", line 1905, in _run_once
    handle._run()
  File "C:\Users\gpier\anaconda3\lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 510, in dispatch_queue
    await self.process_one()
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 499, in process_one
    await dispatch(*args)
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 406, in dispatch_shell
    await result
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 730, in execute_request
    reply_content = await reply_content
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 390, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "C:\Users\gpier\anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 528, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2914, in run_cell
    result = self._run_cell(
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3185, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\gpier\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\gpier\AppData\Local\Temp\ipykernel_14044\3589859817.py", line 2, in <module>
    import pandas
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\__init__.py", line 80, in <module>
    from pandas.core.api import (
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\gpier\anaconda3\lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\gpier\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\gpier\anaconda3\lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

AttributeError: _ARRAY_API not found

In [3]:
# Requêtes SQL pour récuperer les données de chaque table
products = pandas.read_sql_query(
    """
    SELECT *
    from Products;
    """,
    conn
)

customers = pandas.read_sql_query(
    """
    SELECT *
    from Customers;
    """,
    conn
)

offices = pandas.read_sql_query(
    """
    SELECT *
    from Offices;
    """,
    conn
)

# ========================================================================================

payments = pandas.read_sql_query(
    """
    SELECT *
    from Payments;
    """,
    conn
)

orders = pandas.read_sql_query(
    """
    SELECT *
    from Orders;
    """,
    conn
)

employees = pandas.read_sql_query(
    """
    SELECT *
    from Employees;
    """,
    conn
)

# ========================================================================================

orderdetails = pandas.read_sql_query(
    """
    SELECT *
    from OrderDetails;
    """,
    conn
)

# Visualiser les résultats des requêtes SQL

In [4]:
products.to_dict(orient = "records")[:1]
customers.to_dict(orient = "records")[:1]
offices.to_dict(orient = "records")[:1]

[{'officeCode': '1.0',
  'city': 'San Francisco',
  'phone': '+1 650 219 4782',
  'addressLine1': '100 Market Street',
  'addressLine2': 'Suite 300',
  'state': 'CA',
  'country': 'USA',
  'postalCode': '94080',
  'territory': None}]

# Imbriquer nos extractions de table pour créer la collection Customers

In [5]:
orders = orders.assign(
OrderDetails = [list(orderdetails.query("orderNumber == @id").drop(columns=["orderNumber"]).to_dict(orient="records")) if id in list(orderdetails.orderNumber) else None for id in orders.orderNumber])

customers = customers.assign(
             Payments = [list(payments.query("customerNumber == @id").drop(columns=["customerNumber"]).to_dict(orient="records")) if id in list(payments.customerNumber) else None for id in customers.customerNumber],
             Orders = [list(orders.query("customerNumber == @id").drop(columns=["customerNumber"]).to_dict(orient="records")) if id in list(orders.customerNumber) else None for id in customers.customerNumber])

# Visualisation du résultat pour s'assurer que tout a bien été récupéré

In [6]:
customers.to_dict(orient = "records")[:1] #Extraction en documents de customers

[{'customerNumber': 103,
  'customerName': 'Atelier graphique',
  'contactLastName': 'Schmitt',
  'contactFirstName': 'Carine',
  'phone': '40.32.2555',
  'addressLine1': '54, rue Royale',
  'addressLine2': 'NULL',
  'city': 'Nantes',
  'state': 'NULL',
  'postalCode': '44000',
  'country': 'France',
  'salesRepEmployeeNumber': 1370,
  'creditLimit': 21000.0,
  'Payments': [{'checkNumber': 'HQ336336',
    'paymentDate': '2004/10/19 0:00:00',
    'amount': 5307.98},
   {'checkNumber': 'JM555205',
    'paymentDate': '2003/6/5 0:00:00',
    'amount': 16560.3},
   {'checkNumber': 'OM314933',
    'paymentDate': '2004/12/18 0:00:00',
    'amount': 2311.68}],
  'Orders': [{'orderNumber': 10123,
    'orderDate': '2003/5/20 0:00:00',
    'requiredDate': '2003/5/29 0:00:00',
    'shippedDate': '2003/5/22 0:00:00',
    'status': 'Shipped',
    'comments': 'NULL',
    'OrderDetails': [{'productCode': 'S18_1589',
      'quantityOrdered': 26,
      'priceEach': 118.22,
      'orderLineNumber': 2},
     {'productCode': 'S18_2870',
      'quantityOrdered': 46,
      'priceEach': 112.2,
      'orderLineNumber': 3},
     {'productCode': 'S18_3685',
      'quantityOrdered': 34,
      'priceEach': 156.82,
      'orderLineNumber': 4},
     {'productCode': 'S24_1628',
      'quantityOrdered': 50,
      'priceEach': 59.87,
      'orderLineNumber': 1}]},
   {'orderNumber': 10298,
    'orderDate': '2004/9/27 0:00:00',
    'requiredDate': '2004/10/5 0:00:00',
    'shippedDate': '2004/10/1 0:00:00',
    'status': 'Shipped',
    'comments': 'NULL',
    'OrderDetails': [{'productCode': 'S10_2016',
      'quantityOrdered': 39,
      'priceEach': 96.34,
      'orderLineNumber': 1},
     {'productCode': 'S18_2625',
      'quantityOrdered': 32,
      'priceEach': 48.46,
      'orderLineNumber': 2}]},
   {'orderNumber': 10345,
    'orderDate': '2004/11/25 0:00:00',
    'requiredDate': '2004/12/1 0:00:00',
    'shippedDate': '2004/11/26 0:00:00',
    'status': 'Shipped',
    'comments': 'NULL',
    'OrderDetails': [{'productCode': 'S24_2022',
      'quantityOrdered': 43,
      'priceEach': 53.76,
      'orderLineNumber': 1}]}]}]

# Visualisation des données de la collection Products

In [7]:
products.to_dict(orient = "records")[:1] #Extraction en documents de products

[{'productCode': 'S10_1678',
  'productName': '1969 Harley Davidson Ultimate Chopper',
  'productLine': 'Motorcycles',
  'productScale': '4200.0',
  'productVendor': 'Min Lin Diecast',
  'productDescription': 'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.',
  'quantityInStock': 7933,
  'buyPrice': 48.81,
  'MSRP': 95.7}]

# Imbriquer nos extractions de table pour créer la collection Offices

In [8]:
offices = offices.assign(
Employees = [list(employees.query("officeCode == @id").drop(columns=["officeCode"]).to_dict(orient="records")) if id in list(employees.officeCode) else None for id in offices.officeCode])

# Visualisation de la collection Offices

In [9]:
offices.to_dict(orient = "records")[:1] #Extraction en documents de offices

[{'officeCode': '1.0',
  'city': 'San Francisco',
  'phone': '+1 650 219 4782',
  'addressLine1': '100 Market Street',
  'addressLine2': 'Suite 300',
  'state': 'CA',
  'country': 'USA',
  'postalCode': '94080',
  'territory': None,
  'Employees': [{'employeeNumber': 1002,
    'lastName': 'Murphy',
    'firstName': 'Diane',
    'extension': 'x5800',
    'email': 'dmurphy@classicmodelcars.com',
    'reportsTo': 'NULL',
    'jobTitle': 'President'},
   {'employeeNumber': 1056,
    'lastName': 'Patterson',
    'firstName': 'Mary',
    'extension': 'x4611',
    'email': 'mpatterso@classicmodelcars.com',
    'reportsTo': 1002,
    'jobTitle': 'VP Sales'},
   {'employeeNumber': 1076,
    'lastName': 'Firrelli',
    'firstName': 'Jeff',
    'extension': 'x9273',
    'email': 'jfirrelli@classicmodelcars.com',
    'reportsTo': 1002,
    'jobTitle': 'VP Marketing'},
   {'employeeNumber': 1143,
    'lastName': 'Bow',
    'firstName': 'Anthony',
    'extension': 'x5428',
    'email': 'bhoward@classicmodelcars.com',
    'reportsTo': 1056,
    'jobTitle': 'Sales Manager (NA)'},
   {'employeeNumber': 1165,
    'lastName': 'Jennings',
    'firstName': 'Leslie',
    'extension': 'x3291',
    'email': 'ljennings@classicmodelcars.com',
    'reportsTo': 1143,
    'jobTitle': 'Sales Rep'},
   {'employeeNumber': 1166,
    'lastName': 'Thompson',
    'firstName': 'Leslie',
    'extension': 'x4065',
    'email': 'lthompson@classicmodelcars.com',
    'reportsTo': 1143,
    'jobTitle': 'Sales Rep'}]}]

# Import des données dans dans le serveur MongoDB

In [10]:
db.Customers.insert_many(
    customers.to_dict(orient = "records") #Extraction en documents de customers
)

db.Offices.insert_many(
    offices.to_dict(orient = "records") #Extraction en documents de customers
)

db.Products.insert_many(
    products.to_dict(orient = "records") #Extraction en documents de customers
)

InsertManyResult([ObjectId('67435595177f9e8974bb681b'), ObjectId('67435595177f9e8974bb681c'), ObjectId('67435595177f9e8974bb681d'), ObjectId('67435595177f9e8974bb681e'), ObjectId('67435595177f9e8974bb681f'), ObjectId('67435595177f9e8974bb6820'), ObjectId('67435595177f9e8974bb6821'), ObjectId('67435595177f9e8974bb6822'), ObjectId('67435595177f9e8974bb6823'), ObjectId('67435595177f9e8974bb6824'), ObjectId('67435595177f9e8974bb6825'), ObjectId('67435595177f9e8974bb6826'), ObjectId('67435595177f9e8974bb6827'), ObjectId('67435595177f9e8974bb6828'), ObjectId('67435595177f9e8974bb6829'), ObjectId('67435595177f9e8974bb682a'), ObjectId('67435595177f9e8974bb682b'), ObjectId('67435595177f9e8974bb682c'), ObjectId('67435595177f9e8974bb682d'), ObjectId('67435595177f9e8974bb682e'), ObjectId('67435595177f9e8974bb682f'), ObjectId('67435595177f9e8974bb6830'), ObjectId('67435595177f9e8974bb6831'), ObjectId('67435595177f9e8974bb6832'), ObjectId('67435595177f9e8974bb6833'), ObjectId('67435595177f9e8974bb6834'), ObjectId('67435595177f9e8974bb6835'), ObjectId('67435595177f9e8974bb6836'), ObjectId('67435595177f9e8974bb6837'), ObjectId('67435595177f9e8974bb6838'), ObjectId('67435595177f9e8974bb6839'), ObjectId('67435595177f9e8974bb683a'), ObjectId('67435595177f9e8974bb683b'), ObjectId('67435595177f9e8974bb683c'), ObjectId('67435595177f9e8974bb683d'), ObjectId('67435595177f9e8974bb683e'), ObjectId('67435595177f9e8974bb683f'), ObjectId('67435595177f9e8974bb6840'), ObjectId('67435595177f9e8974bb6841'), ObjectId('67435595177f9e8974bb6842'), ObjectId('67435595177f9e8974bb6843'), ObjectId('67435595177f9e8974bb6844'), ObjectId('67435595177f9e8974bb6845'), ObjectId('67435595177f9e8974bb6846'), ObjectId('67435595177f9e8974bb6847'), ObjectId('67435595177f9e8974bb6848'), ObjectId('67435595177f9e8974bb6849'), ObjectId('67435595177f9e8974bb684a'), ObjectId('67435595177f9e8974bb684b'), ObjectId('67435595177f9e8974bb684c'), ObjectId('67435595177f9e8974bb684d'), ObjectId('67435595177f9e8974bb684e'), ObjectId('67435595177f9e8974bb684f'), ObjectId('67435595177f9e8974bb6850'), ObjectId('67435595177f9e8974bb6851'), ObjectId('67435595177f9e8974bb6852'), ObjectId('67435595177f9e8974bb6853'), ObjectId('67435595177f9e8974bb6854'), ObjectId('67435595177f9e8974bb6855'), ObjectId('67435595177f9e8974bb6856'), ObjectId('67435595177f9e8974bb6857'), ObjectId('67435595177f9e8974bb6858'), ObjectId('67435595177f9e8974bb6859'), ObjectId('67435595177f9e8974bb685a'), ObjectId('67435595177f9e8974bb685b'), ObjectId('67435595177f9e8974bb685c'), ObjectId('67435595177f9e8974bb685d'), ObjectId('67435595177f9e8974bb685e'), ObjectId('67435595177f9e8974bb685f'), ObjectId('67435595177f9e8974bb6860'), ObjectId('67435595177f9e8974bb6861'), ObjectId('67435595177f9e8974bb6862'), ObjectId('67435595177f9e8974bb6863'), ObjectId('67435595177f9e8974bb6864'), ObjectId('67435595177f9e8974bb6865'), ObjectId('67435595177f9e8974bb6866'), ObjectId('67435595177f9e8974bb6867'), ObjectId('67435595177f9e8974bb6868'), ObjectId('67435595177f9e8974bb6869'), ObjectId('67435595177f9e8974bb686a'), ObjectId('67435595177f9e8974bb686b'), ObjectId('67435595177f9e8974bb686c'), ObjectId('67435595177f9e8974bb686d'), ObjectId('67435595177f9e8974bb686e'), ObjectId('67435595177f9e8974bb686f'), ObjectId('67435595177f9e8974bb6870'), ObjectId('67435595177f9e8974bb6871'), ObjectId('67435595177f9e8974bb6872'), ObjectId('67435595177f9e8974bb6873'), ObjectId('67435595177f9e8974bb6874'), ObjectId('67435595177f9e8974bb6875'), ObjectId('67435595177f9e8974bb6876'), ObjectId('67435595177f9e8974bb6877'), ObjectId('67435595177f9e8974bb6878'), ObjectId('67435595177f9e8974bb6879'), ObjectId('67435595177f9e8974bb687a'), ObjectId('67435595177f9e8974bb687b'), ObjectId('67435595177f9e8974bb687c'), ObjectId('67435595177f9e8974bb687d'), ObjectId('67435595177f9e8974bb687e'), ObjectId('67435595177f9e8974bb687f'), ObjectId('67435595177f9e8974bb6880'), ObjectId('67435595177f9e8974bb6881'), ObjectId('67435595177f9e8974bb6882'), ObjectId('67435595177f9e8974bb6883'), ObjectId('67435595177f9e8974bb6884'), ObjectId('67435595177f9e8974bb6885'), ObjectId('67435595177f9e8974bb6886'), ObjectId('67435595177f9e8974bb6887'), ObjectId('67435595177f9e8974bb6888')], acknowledged=True)

# Vérification du nombre de clients

In [11]:

db.Customers.count_documents({})

488

# Vérification du nombre de bureaux

In [12]:
db.Offices.count_documents({})

28

# Vérification du nombre de produits

In [13]:

db.Products.count_documents({})

440

In [14]:
rq1 = db.Customers.find(
    { "Orders": None },  # None pour trouver les champs null
    { "_id": 0, "customerName": 1,"customerNumber": 1 }
)

df = pandas.DataFrame(list(rq1))
print(df)

# On liste les clients, on trouve le nom des entreprises tel que Porto Imports Co., ANG Ressellers, etc

    customerNumber                customerName
0              169           Porto Imports Co.
1              247    Messner Shopping Network
2              293           BG&E Collectables
3              168      American Souvenirs Inc
4              206  Asian Shopping Network, Co
..             ...                         ...
91             459            Warburg Exchange
92             465         Anton Designs, Ltd.
93             477         Mit Vergnügen & Co.
94             480   Kremlin Collectables, Co.
95             481          Raanan Stores, Inc

[96 rows x 2 columns]

In [15]:
rq2 = db.Offices.aggregate([
    { "$unwind": "$Employees" },

    { 
        "$lookup": {
            "from": "Customers",
            "localField": "Employees.employeeNumber",
            "foreignField": "salesRepEmployeeNumber",
            "as": "Clients"
        }
    },

    { 
        "$addFields": { 
            "nombreClients": { "$size": "$Clients" },
            "totalCommandes": { 
                "$sum": { 
                    "$map": { 
                        "input": "$Clients", 
                        "as": "client", 
                        "in": { 
                            "$size": { "$ifNull": [ "$$client.Orders", [] ] }
                        } 
                    } 
                }
            },
        }
    },

    { "$unwind": {
        "path": "$Clients",
        "preserveNullAndEmptyArrays": True
    }},
    
    { "$unwind": {
        "path": "$Clients.Orders",
        "preserveNullAndEmptyArrays": True
    }},
    
    { "$unwind": {
        "path": "$Clients.Payments",
        "preserveNullAndEmptyArrays": True
    }},
    
    { 
        "$group": { 
            "_id": "$Employees.employeeNumber",
            "prenom": { "$first": "$Employees.firstName" },  
            "nom": { "$first": "$Employees.lastName" },     
            "nombreClients": { "$first": "$nombreClients" }, 
            "totalCommandes": { "$first": "$totalCommandes" }, 
            "totalPayments": { "$sum": "$Clients.Payments.amount" }  
        }
    },
    {
        "$project": {
            "_id": 0,
            "employeeNumber": "$_id",
            "firstname": "$prenom",
            "lastname": "$nom",
            "numberOfCustomers": "$nombreClients",
            "numberOfOrders": "$totalCommandes",
            "totalOrderAmount": {
                "$cond": {
                    "if": { "$eq": ["$totalPayments", 0] },
                    "then": "NaN",
                    "else": "$totalPayments"
                }
            }
        }
    },

    { "$sort": { "employeeNumber": 1 }}
])

rq2_df = pandas.DataFrame(list(rq2))
rq2_df


# Pour chaque employé on a son nombre de clients, commandes et le montant total.
# On voit que Diane, Mary et Jeff n'ont pas réalisé de commande et
# donc ont un montant total de null (NaN)

,employeeNumber,firstname,lastname,numberOfCustomers,numberOfOrders,totalOrderAmount
0,1002,Diane,Murphy,0,0,NaN
1,1056,Mary,Patterson,0,0,NaN
2,1076,Jeff,Firrelli,0,0,NaN
3,1088,William,Patterson,0,0,NaN
4,1102,Gerard,Bondur,0,0,NaN
5,1143,Anthony,Bow,0,0,NaN
6,1165,Leslie,Jennings,24,136,202785058.08
7,1166,Leslie,Thompson,24,56,15095079.68
8,1188,Julie,Firrelli,24,56,16560703.84
9,1216,Steve,Patterson,24,72,24735841.28
10,1286,Foon Yue,Tseng,28,68,26163625.6
11,1323,George,Vanauf,32,88,29934936.8
12,1337,Loui,Bondur,24,80,33492472.16
13,1370,Gerard,Hernandez,28,172,349611894.24
14,1401,Pamela,Castillo,40,124,41288808.8
15,1501,Larry,Bott,32,88,35019500.8
16,1504,Barry,Jones,36,100,37717917.92
17,1611,Andy,Fixter,20,76,37636061.44
18,1612,Peter,Marsh,20,76,33915227.52
19,1619,Tom,King,0,0,NaN
20,1621,Mami,Nishi,20,64,29047410.72
21,1625,Yoshimi,Kato,0,0,NaN
22,1702,Martin,Gerard,24,48,16231026.24

In [16]:
rq3 = db.Offices.aggregate([
    { 
        "$lookup": {
            "from": "Customers",
            "localField": "Employees.employeeNumber",
            "foreignField": "salesRepEmployeeNumber",
            "as": "Clients"
        }
    },
    {
        "$addFields": { 
            "nombreClients": { "$size": "$Clients" },
            "totalCommandes": { 
                "$sum": { 
                    "$map": { 
                        "input": "$Clients", 
                        "as": "client", 
                        "in": { "$size": { "$ifNull": [ "$$client.Orders", [] ] } }
                    } 
                }
            },
            "clientsFromDifferentCountries": {
                "$size": {
                    "$filter": {
                        "input": "$Clients",
                        "as": "client",
                        "cond": { "$ne": ["$$client.country", "$country"] }
                    }
                }
            }
        }
    },

    { "$unwind": {
        "path": "$Clients",
        "preserveNullAndEmptyArrays": True
    }},
    
    { "$unwind": {
        "path": "$Clients.Orders",
        "preserveNullAndEmptyArrays": True
    }},
    
    { "$unwind": {
        "path": "$Clients.Payments",
        "preserveNullAndEmptyArrays": True
    }},
    
    { 
        "$group": { 
            "_id": "$officeCode",
            "nombreClients": { "$first": "$nombreClients" },  
            "totalCommandes": { "$first": "$totalCommandes" }, 
            "totalPayments": { "$sum": "$Clients.Payments.amount" }, 
            "nombrePaysDistincts": {"$first": "$clientsFromDifferentCountries"},
            "pays": {"$first": "$country"},
            "ville": {"$first": "$city"}
        }
    },

    {
        "$project": {
            "_id": 0,
            "officeCode": "$_id",
            "city": "$ville",
            "country": "$pays",
            "numberOfCustomers": "$nombreClients",
            "numberOfOrders": "$totalCommandes",
            "totalOrderAmount": {
                "$cond": {
                    "if": { "$eq": ["$totalPayments", 0] },
                    "then": "nan",
                    "else": "$totalPayments"
                }
            },
            "customersFromDifferentCountry": "$nombrePaysDistincts"
        }
    },

    { "$sort": { "officeCode": 1 }}
])

rq3_df = pandas.DataFrame(list(rq3))
rq3_df


# On donne le nombre de commandes, montant total et nombre de clients venant d'un pays différent pour chaque bureau.
#On voit que San Francisco
# a 12 clients, 48 commandes un montant total de plus de 13 millions et 0 clients étrangés.

,officeCode,city,country,numberOfCustomers,numberOfOrders,totalOrderAmount,customersFromDifferentCountry
0,1.0,San Francisco,USA,48,192,2.178801e+08,0
1,2.0,Boston,USA,48,128,4.129655e+07,0
2,3.0,NYC,USA,60,156,5.609856e+07,12
3,4.0,Paris,France,116,424,4.406242e+08,68
4,5.0,Tokyo,Japan,20,64,2.904741e+07,12
5,6.0,Sydney,Australia,40,152,7.155129e+07,20
6,7.0,London,UK,68,188,7.273742e+07,48

In [17]:
rq4 = db.Products.aggregate([
    {
        "$lookup": {
            "from": "Customers",
            "localField": "productCode",
            "foreignField": "Orders.OrderDetails.productCode",
            "as": "customerOrders"
        }
    },
    {
        "$unwind": {
            "path": "$customerOrders",
            "preserveNullAndEmptyArrays": True
        }
    },
    {
        "$unwind": {
            "path": "$customerOrders.Orders",
            "preserveNullAndEmptyArrays": True
        }
    },
    {
        "$unwind": {
            "path": "$customerOrders.Orders.OrderDetails",
            "preserveNullAndEmptyArrays": True
        }
    },
    {
        "$match": {
            "$or": [
                { "$expr": { "$eq": ["$customerOrders.Orders.OrderDetails.productCode", "$productCode"] } },
                { "customerOrders": { "$eq": None } }
            ]
        }
    },
    {
        "$group": {
            "_id": "$productCode",
            "nomProduit": { "$first": "$productName" },
            "totalOccurrences": { "$sum": { "$cond": [{ "$ifNull": ["$customerOrders", False] }, 1, 0] } },
            "totalQuantity": { "$sum": { "$ifNull": ["$customerOrders.Orders.OrderDetails.quantityOrdered", 0] } },
            "uniqueClients": { "$addToSet": "$customerOrders.customerNumber" }
        }
    },
    {
        "$addFields": {
            "nombreClientDistincs": { "$size": "$uniqueClients" }
        }
    },
    {
        "$sort": { "_id": 1 }
    },
    {
        "$project": {
            "_id": 1,
            "nomProduit": 1,
            "totalOccurrences": 1,
            "totalQuantity": 1,
            "nombreClientDistincs": 1
        }
    }
])

rq4_df = pandas.DataFrame(list(rq4))
rq4_df

# Pour chaque produit on donne le nombre de fois où il a été commandé, la quantité total commandée et 
#le nombre distinct de client qui a commandé
# le produit. Par exemple le modèle 1969 Harley Davidson Ultimate Chopper se retrouve dans 28 commandes,
#il a été commandé 1026 par 26 clients différents

,_id,nomProduit,totalOccurrences,totalQuantity,nombreClientDistincs
0,S10_1678,1969 Harley Davidson Ultimate Chopper,448,16416,26
1,S10_1949,1952 Alpine Renault 1300,448,15376,27
2,S10_2016,1996 Moto Guzzi 1100i,448,15984,26
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,448,15760,25
4,S10_4757,1972 Alfa Romeo GTA,448,16000,27
...,...,...,...,...,...
105,S700_3505,The Titanic,432,15232,22
106,S700_3962,The Queen Mary,432,14128,24
107,S700_4002,American Airlines: MD-11S,448,17168,26
108,S72_1253,Boeing X-32A JSF,448,15360,27
109,S72_3212,Pont Yacht,432,15328,24

In [18]:
rq5 = db.Customers.aggregate([
    {
        "$lookup": {
            "from": "Customers",
            "localField": "_id",
            "foreignField": "_id",
            "as": "Commandes"
        }
    },
    { 
        "$unwind": { 
            "path": "$Orders", 
            "preserveNullAndEmptyArrays": True 
        }
    },
    {
        "$addFields": {
            "montantCommande": {
                "$cond": {
                    "if": { "$gt": ["$Orders", None] },
                    "then": {
                        "$sum": {
                            "$map": {
                                "input": { "$ifNull": ["$Orders.OrderDetails", []] },
                                "as": "item",
                                "in": { "$multiply": ["$$item.quantityOrdered", "$$item.priceEach"] }
                            }
                        }
                    },
                    "else": 0
                }
            },
            "montantPaye": { "$sum": "$Payments.amount" },
            "nombreCommande": { "$cond": { "if": { "$gt": ["$Orders", None] }, "then": 1, "else": 0 } }
        }
    },
    {
        "$group": {
            "_id": "$country",
            "Nombre de Commande": { "$sum": "$nombreCommande" },  
            "Montant Total Commande": { "$sum": "$montantCommande"},
            "Montant Total Payé": {"$sum":"$montantPaye"}
        }
    },
    { "$sort": { "_id": 1 } }
])

pandas.DataFrame(list(rq5))
#Pour chaque pays on affiche le nombre de commandes, le montant total commandé et le montant total payé
#Par exemple, il y a eu 7 commandes au Canada pour un montant total de 224 078€ dont 421 283€ ont été payés

,_id,Nombre de Commande,Montant Total Commande,Montant Total Payé
0,Australia,76,2522492.40,9409015.36
1,Austria,28,808250.12,1949976.08
2,Belgium,28,433650.48,1333768.44
3,Canada,28,896314.24,1685132.00
4,Denmark,28,982548.60,3185339.00
5,Finland,36,1318327.64,3954982.92
6,France,148,4443666.24,13298774.08
7,Germany,28,881888.36,2305173.76
8,Hong Kong,8,195137.44,390274.88
9,Ireland,8,231025.72,462051.44
10,Israel,0,0.00,0.00
11,Italy,40,1614504.88,3853118.68
12,Japan,24,752671.24,2283595.44
13,Netherlands,0,0.00,0.00
14,New Zealand,60,2142336.00,6672228.48
15,Norway,36,1229854.80,3839064.24
16,Philippines,12,376062.92,1128188.76
17,Poland,0,0.00,0.00
18,Portugal,0,0.00,0.00
19,Russia,0,0.00,0.00
20,Singapore,36,1153953.64,5266372.00
21,South Africa,0,0.00,0.00
22,Spain,144,4862747.68,85593365.60
23,Sweden,28,840056.84,2823190.04
24,Switzerland,8,470854.24,941708.48
25,UK,52,1915521.84,4799892.28
26,USA,448,14511931.40,77133679.32

In [19]:
rq6 = db.Customers.aggregate([
    {
        "$unwind": "$Orders" 
    },
    {
        "$unwind": "$Orders.OrderDetails" 
    },
    { 
        "$lookup": {
            "from": "Products",  
            "localField": "Orders.OrderDetails.productCode",  
            "foreignField": "productCode", 
            "as": "productDetails" 
        }
    },
    {
        "$unwind": {
            "path": "$productDetails", 
            "preserveNullAndEmptyArrays": True 
        }
    },
    {
        "$group": {
            "_id": {
                "orderNumber": "$Orders.orderNumber",  
                "country": "$country",  
                "productLine": "$productDetails.productLine"  
            },
            "customerName": { "$first": "$customerName" }  
        }
    },
    {
        "$group": {
            "_id": {
                "productLine": "$_id.productLine",  
                "country": "$_id.country"  
            },
            "totalOrders": { "$sum": 1 }  
        }
    },
    {
        "$project": {
            "_id": 0,
            "productLine": "$_id.productLine", 
            "country": "$_id.country",  
            "totalOrders": 1  
        }
    },
    {
        "$sort": {
            "productLine": 1,
            "country": 1
        }
    }
])


result_df = pandas.DataFrame(list(rq6))
result_df = result_df[['productLine', 'country', 'totalOrders']]
print(result_df)

# Pour chaque pays et chaque catégorie on a le total des commandes.
#Par exemple, on a l'Australie qui a commandé 12 produits de la catégorie Classic Cars.

      productLine    country  totalOrders
0    Classic Cars  Australia           12
1    Classic Cars    Austria            5
2    Classic Cars    Belgium            2
3    Classic Cars     Canada            6
4    Classic Cars    Denmark            5
..            ...        ...          ...
121  Vintage Cars  Singapore            4
122  Vintage Cars      Spain           22
123  Vintage Cars     Sweden            4
124  Vintage Cars         UK           10
125  Vintage Cars        USA           67

[126 rows x 3 columns]

In [20]:
rq7 = db.Customers.aggregate([
    {
        "$unwind": "$Orders"
    },
    {
        "$unwind": "$Orders.OrderDetails"
    },
    {
        "$lookup": {
            "from": "Products",
            "localField": "Orders.OrderDetails.productCode",
            "foreignField": "productCode",
            "as": "ProductInfo"
        }
    },
    {
        "$unwind": "$ProductInfo"
    },
    {
        "$group": {
            "_id": {
                "country": "$country",
                "productLine": "$ProductInfo.productLine"
            },
            "totalPayments": {"$sum": {"$sum": "$Payments.amount"}}
        }
    },
    {
        "$project": {
            "_id": 0,
            "country": "$_id.country",
            "productLine": "$_id.productLine",
            "totalPayments": 1
        }
    },
    {
        "$sort": {
            "productLine": 1,
            "country": 1
        }
    },
])

results_df = pandas.DataFrame(list(rq7))
results_df = results_df[['productLine', 'country', 'totalPayments']]
results_df

#Pour chaque types de produit et chaques pays, on prend le total payé. Par exemple, pour les classic cars en autralie,
#30019180€

      productLine    country  totalPayments
0    Classic Cars  Australia   1.200767e+08
1    Classic Cars    Austria   3.015071e+07
2    Classic Cars    Belgium   2.670094e+06
3    Classic Cars     Canada   1.239878e+07
4    Classic Cars    Denmark   5.885301e+07
..            ...        ...            ...
121  Vintage Cars  Singapore   3.105964e+07
122  Vintage Cars      Spain   6.380559e+08
123  Vintage Cars     Sweden   2.203351e+07
124  Vintage Cars         UK   7.477060e+07
125  Vintage Cars        USA   7.534514e+08

[126 rows x 3 columns]

In [21]:
rq8 = db.Products.aggregate([
    {
        "$lookup": {
            "from": "Customers",
            "localField": "productCode",
            "foreignField": "Orders.OrderDetails.productCode",
            "as": "detailCommande"
        }
    },
    {
        "$unwind": "$detailCommande" 
    },
    {
        "$unwind": "$detailCommande.Orders"  
    },
    {
        "$unwind": "$detailCommande.Orders.OrderDetails" 
    },
    {
        "$match": {
            "$expr": { "$eq": ["$productCode", "$detailCommande.Orders.OrderDetails.productCode"] }
        }
    },
    {
        "$project": {
            "productCode": "$productCode",
            "productName": "$productName",
            "marge": {
                "$subtract": ["$detailCommande.Orders.OrderDetails.priceEach", "$buyPrice"]
            }  
        }
    },
    {
        "$group": {
            "_id": {
                "productCode": "$productCode",
                "productName": "$productName"
            },
            "averageMargin": {"$avg": "$marge"} 
        }
    },
    {
        "$project": {
            "_id": 0,
            "productCode": "$_id.productCode",
            "productName": "$_id.productName",
            "averageMargin": 1
        }
    },
    {
        "$sort": {
            "averageMargin": -1 
        }
    },
    {
        "$limit": 10
    }
])


result_df = pandas.DataFrame(list(rq8))
result_df = result_df[['productCode', 'productName', 'averageMargin']] 
result_df


# Pour chaque produit on a la marge moyenne du produit. Par exemple, pour le modèle 1952 Alpine Renault 1300 la marge moyenne du produit est de 99.006429.

  productCode                           productName  averageMargin
0    S10_1949              1952 Alpine Renault 1300      99.006429
1    S10_4698  2003 Harley-Davidson Eagle Drag Bike      95.235000
2    S18_3232           1992 Ferrari 360 Spider red      83.334906
3    S12_2823                      2002 Suzuki XREO      83.201429
4    S18_2795                1928 Mercedes-Benz SSK      82.696786
5    S12_1108                     2001 Ferrari Enzo      81.043704
6    S12_3891                      1969 Ford Falcon      77.335926
7    S18_3685        1948 Porsche Type 356 Roadster      72.636800
8    S18_2870          1999 Indy 500 Monte Carlo SS      71.794400
9    S18_1749              1917 Grand Touring Sedan      70.432800

In [22]:
rq9 = db.Customers.aggregate([
    {
        '$unwind': '$Orders'
    },
    {
        '$unwind': '$Orders.OrderDetails'
    },
    {
        '$lookup': {
            'from': 'Products',
            'localField': 'Orders.OrderDetails.productCode',
            'foreignField': 'productCode',
            'as': 'product_info'
        }
    },
    {
        '$unwind': '$product_info'
    },
    {
        '$project': {
            '_id': 0,
            'customerNumber': 1,
            'productCode': '$Orders.OrderDetails.productCode',
            'productName': '$product_info.productName',
            'priceEach': '$Orders.OrderDetails.priceEach',
            'buyPrice': '$product_info.buyPrice'
        }
    },
    {
        '$match': {
            '$expr': { 
                '$lt': ['$priceEach', '$buyPrice']
            }
        }
    }
])

results_df = pandas.DataFrame(list(rq9))
results_df

# On veut les produits vendu à perte (prix unitaire < prix d'achat). On voit que le modèle 1957 Chevy Pickup a un prix unitaire de 35.71 et le prix
# d'achat est de 55.70.

,customerNumber,productCode,productName,priceEach,buyPrice
0,124,S12_4473,1957 Chevy Pickup,35.71,55.70
1,124,S12_4473,1957 Chevy Pickup,35.71,55.70
2,124,S12_4473,1957 Chevy Pickup,35.71,55.70
3,124,S12_4473,1957 Chevy Pickup,35.71,55.70
4,124,S24_4048,1992 Porsche Cayenne Turbo Silver,50.32,69.78
...,...,...,...,...,...
1259,486,S18_1984,1995 Honda Civic,32.47,93.89
1260,496,S18_1662,1980s Black Hawk Helicopter,58.67,77.27
1261,496,S18_1662,1980s Black Hawk Helicopter,58.67,77.27
1262,496,S18_1662,1980s Black Hawk Helicopter,58.67,77.27
1263,496,S18_1662,1980s Black Hawk Helicopter,58.67,77.27

In [23]:
rq10 = db.Customers.aggregate([
    {
        "$addFields": {
            "montantPaye": { "$sum": "$Payments.amount" }  
        }
    },
    { 
        "$unwind": "$Orders"
    },
    {
        "$unwind": "$Orders.OrderDetails"
    },
    {
        "$addFields": {
            "montantCommande": { "$multiply": [
                "$Orders.OrderDetails.quantityOrdered",
                "$Orders.OrderDetails.priceEach"
            ] }
        }
    },
    {
        "$group": {
            "_id": "$customerNumber",
            "codeClient": { "$first": "$customerNumber" },
            "nomClient": { "$first": "$customerName" },
            "Montant Total Payé": { "$first": "$montantPaye" },
            "Montant Total Commande": { "$sum": "$montantCommande" }
        }
    },
    {
        "$match": {
            "$expr": { "$gt": [ "$Montant Total Payé", "$Montant Total Commande" ] }  
        }
    }
])
result_df = pandas.DataFrame(list(rq10))
result_df

# On a la liste des clients avec un montant des paiements supérieur a celui des achats, comme Toys4GrownUps.com

Empty DataFrame
Columns: []
Index: []